<div class="span12">
  <table class="table" border="0">
    <thead>
      <tr>
        <td>Content</td>
        <td>Group Name</td>
        <td>Last Update</td>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><p><%= post.content %></p></td>
        <td><%= post.group.title %></td>
        <td><%= post.updated_at %></td>
        <td>
          <%= link_to "Edit", edit_group_post_path(post.group, post), class: "btn btn-mini" %>
          <%= link_to "Delete", group_post_path(post.group, post), class: "btn btn-mini", method: :delete, confirm: "Are you sure?" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
