<div class="span12">
  <%= simple_form_for @group do |f| %>
    <%= f.input :title, input_html: { class: "input-xxlarge" } %>
    <%= f.input :description, input_html: { class: "input-xxlarge" } %>

    <div class="form-actions">
      <%= f.submit "Submit", disable: "Submiting...", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
