<div class="span12">
  <h2>My Groups</h2>

  <table class="table" border="0">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Descroption</td>
        <td>Post Count</td>
        <td>Last Update</td>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
      <tr>
        <td>#</td>
        <td><%= link_to group.title, group_path(group) %></td>
        <td><%= group.description %></td>
        <td><%= group.posts.size %></td>
        <td><%= group.updated_at %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
